$theme-colors: ( 
    "primary": #f5b2e1, 
    "light": #fceafa,
    "dark" : #bbb9b9,
    "secondary" : #f8d8ed
);

$margin-left: 5rem;

@import "node_modules/bootstrap/scss/bootstrap";

div.datatable-wide {
    padding-left: 20rem;
    padding-right: 20rem;
}

tbody:hover {
    background-color: #fcbcd5;
    cursor: pointer;
}
